body {
  font-family: sans-serif;
  background-color: #f9f9f9;
  color: #333;
  padding: 20px;
}

.container {
  max-width: 800px;
  margin: auto;
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 10px #ccc;
}

h1,
h2 {
  color: #2c3e50;
  text-align: center;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  padding: 6px 0;
  border-bottom: 1px solid #eee;
}

p {
  background: #e0f7fa;
  padding: 10px;
  border-left: 5px solid #00acc1;
  margin: 10px 0;
}
